:root {
    --destaque-cor: #00be03;
}

.container-fluid {
    padding: 0%;
}

/* TITULO H1 */

h1 {
    font-family: "Platypi", serif;
    font-weight: 700;
    font-size: 35px;
    color: black;
    font-style: normal;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}

h1:hover {
    border-bottom: black 3px solid;
    color: var(--destaque-cor);
}

/* title 2 */

.sub-titile {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: var(--destaque-cor);
    font-style: normal;
    cursor: pointer;
}

/* style p */

.estilo-text-p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
    line-height: 23px;
}
 

/* NAV */

.navbar {
    background-color: #ffffffa9;
    width: 100%;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menu\ drop.png);
}
.navbar-light .navbar-nav {
    margin-left: 30px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
    font-family: "Platypi", serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    font-style: normal;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: var(--destaque-cor);
}



/* sobre */

#sobre {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}
.text-sobre p, .text-sobre h1 {
    color: white;
    animation-name: animacao;
    animation-duration: 1s;
}
#sobre .d-flex {
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.708);
}


/* modal */

.btn-modal {
    background-color: var(--destaque-cor);
    border: black 2px solid;
    color: white;
    transition: all 0.3s ease-in 0.05s;
}

.btn-modal:hover {
    background-color: black;
    color: white;
    border: var(--destaque-cor) 2px solid;
    padding: 8px 25px;
}

/* form */
.btn-center {
    display: flex;
    justify-content: center;
  }
.form-control:focus {
    box-shadow: none;
    border-color: var(--destaque-cor);
}

/* tabela */
.table {
    border-color: var(--destaque-cor);
  }
  .table thead th {
    font-family: "Platypi", serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #f8f9fa;
    border-color: var(--destaque-cor);
  }
  .table tbody td, .table tbody th {
    border-color: var(--destaque-cor);
  }
  .table tbody tr:hover {
    background-color: #e9ecef;
  }


/* footer */

footer {
    background-color: var(--destaque-cor);
}
.direitos {
    background-color: black;
}

@keyframes animacao {
    from {
        opacity: 0;
        transform: translate(-100vw, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media  (max-width:992px) {
    #sobre .d-flex {
        flex-direction: column;
    }

    #servicos .d-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin-bottom: 30px;
    }
}
